<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>

<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>

<div class="row">

  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-media-viewer [item]="object"></ds-media-viewer>
    </div>
    <!-- Arquivos -->
    <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
    <!-- Notas -->
    <ds-generic-item-page-field [item]="object"
     [fields]="['dc.description.notes']"
     label="Notas">
    </ds-generic-item-page-field>
    <!-- Data -->
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>

    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-metadata-representation-list>
    <!-- Orientadores -->
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.advisor', 'dc.contributor.advisor1', 'dc.contributor.advisor2']"
      label="Orientadores">
    </ds-metadata-representation-list>
    <!-- Coorientadores -->
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.advisor-co', 'dc.contributor.co-advisor']"
      label="Coorientadores">
    </ds-metadata-representation-list>
    <!-- Membros de banca -->
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.referee', 'dc.contributor.referee1', 'dc.contributor.referee2', 'dc.contributor.referee3', 'dc.contributor.referee4', 'dc.contributor.referee5']"
      label="Membros de banca">
    </ds-metadata-representation-list>


    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
    <!-- Faculdade, Instituto ou Escola -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher.college']"
      label="Faculdade, Instituto ou Escola">
    </ds-generic-item-page-field>
    <!-- Departamento -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher.department']"
      label="Departamento">
      </ds-generic-item-page-field>
      <!-- Programa de Pós-Graduação -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher.program']"
      label="Programa de Pós-Graduação">
    </ds-generic-item-page-field>
    <!-- Agencia de fomento -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.sponsorship']"
      label="Agência de fomento">
    </ds-generic-item-page-field>
     <!-- Tipo de impacto -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.tipodeimpacto']"
      label="Tipo de impacto">
    </ds-generic-item-page-field>
     <!-- Áreas Temáticas da Extenção -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.areastematicasdaextensao']"
      label="Áreas Temáticas da Extenção">
    </ds-generic-item-page-field>
      <!-- Objetivos desesenvolvimento sustentável -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.ods']"
      label="Objetivos de desesenvolvimento sustentável">
    </ds-generic-item-page-field>
     <!-- Dados abertos -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.relation.dadosabertos']"
      label="Dados abertos">
    </ds-generic-item-page-field>
  </div>

  <div class="col-xs-12 col-md-6">
    <!-- Resumo -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.resumo']"
      label="Resumo">
    </ds-generic-item-page-field>

    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>


    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.concentration']"
      label="Área de concentração">
  </ds-generic-item-page-field>

  <ds-generic-item-page-field [item]="object"
    [fields]="['dc.description.development-agency']"
    label="Agência de desenvolvimento">
</ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
  [fields]="['dc.description.keywords']"
  label="Palavra chave">
</ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
  [fields]="['dc.description.marca']"
  label="Marca">
</ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
  [fields]="['dc.description.objective']"
  label="Objetivo">
</ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
  [fields]="['dc.description.provenance']"
  label="Procedência">
</ds-generic-item-page-field> 

<ds-generic-item-page-field [item]="object"
  [fields]="['dc.description.researchimpacts']"
  label="Impacto da pesquisa">
</ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
  [fields]="['dc.description.resumen']"
  label="Resumen">
</ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <!-- isbn -->
    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.isbn']"
    label="ISBN">
  </ds-generic-item-page-field>
  <!-- doi -->
  <ds-item-page-uri-field [item]="object"
  [fields]="['dc.identifier.doi']"
  label="DOI">
</ds-item-page-uri-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <!-- Link externo -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.relation.uri']"
      label="Link externo">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <ds-item-page-uri-field [item]="object"
      [fields]="['coar.notify.endorsedBy']"
      [label]="'item.page.endorsement'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isReviewedBy']"
      [label]="'item.page.review'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isSupplementedBy']"
      [label]="'item.page.supplemented'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isReferencedBy']"
      [label]="'item.page.referenced'">
    </ds-item-page-uri-field>
    <ds-item-page-cc-license-field [item]="object" [variant]="'full'">
    </ds-item-page-cc-license-field>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
