<footer class="text-lg-start">
    <!-- Copyright -->
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
        <div class="content-container">
                <div class="d-flex flex-column align-items-center text-center small">
                    <a class="text-white" href="https://www.ufla.br/">Universidade Federal de Lavras (UFLA)</a>
                    <a class="text-white" href="https://bibliotecauniversitaria.ufla.br/">Biblioteca Universitária</a>
                    <span class="text-white">Repositório Institucional</span>
                    <span class="text-white">E-mail: repositorio.biblioteca&#64;ufla.br</span>
                    <span class="text-white">Fone: (35)3829-1182</span>
                </div>
            <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <button class="btn btn-link text-white" type="button" (click)="showCookieSettings()">
                        {{ 'footer.link.cookies' | translate}}
                    </button>
                </li>
                <li *ngIf="showPrivacyPolicy">
                    <a class="btn text-white" routerLink="info/privacy">{{ 'footer.link.privacy-policy' |
                        translate}}</a>
                </li>
                <li *ngIf="showEndUserAgreement">
                    <a class="btn text-white" routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' |
                        translate}}</a>
                </li>
                <li *ngIf="showSendFeedback$ | async">
                    <a class="btn text-white" routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="coarLdnEnabled$ | async" class="notify-enabled text-white">
            <a class="coar-notify-support-route" routerLink="info/coar-notify-support">
                <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
                {{ 'footer.link.coar-notify-support' | translate }}
            </a>
        </div>
    </div>
    <!-- Copyright -->
</footer>