<div class="container">
    <h6 class="fw-bolder fs-5">A senha de acesso ao Repositório Institucional é unificada com a do e-mail institucional e dos
        demais sistemas
        integrados, como o SIG, o Campus Virtual e o SIGAA. Portanto, qualquer alteração nessa senha impactará
        automaticamente todos esses sistemas.</h6>
    <div >
        <p class="pt-2">O passo a passo para realizar a alteração está disponível no seguinte link:</p>
    <a
        href="https://kb.ufla.br/books/solicitacoes-de-servicos/page/alteracao-de-senha-e-mail-institucional">https://kb.ufla.br/books/solicitacoes-de-servicos/page/alteracao-de-senha-e-mail-institucional</a>
    <p class="pt-3">Em caso de esquecimento, o processo de recuperação da senha pode ser consultado em:</p>
    <a href=" https://kb.ufla.br/books/solicitacoes-de-servicos/page/recuperacao-de-senha">
        https://kb.ufla.br/books/solicitacoes-de-servicos/page/recuperacao-de-senha</a>
    </div>
</div>